graft media
graft src
graft tests
graft .circleci

include .bumpversion.cfg
include .coveragerc
include conftest.py
include development-requirements.txt

include *.md

include tox.ini

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store
